{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  This is the cart page.Proceed to review your items and place the order
{% endblock %}
{% block title %}
   cart
{% endblock %}
{% block body %}
{% if not cart_items %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my-title">
            Your shopping Cart is Empty
        </h1>
        <br>
        <p class="text-center">
            Please Click <a href="{% url 'ecommerce_app:allprodcat' %}">Here</a> to continue shopping.
        </p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <br>
        <h1 class="text-center my-title">
            Your Shopping Cart
        </h1>
        <br>

    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my-table">
            <thread class="my_thread">
                <tr>
                    <th colspan="5">
                        Your Items
                    </th>
                </tr>
            </thread>
            <tbody class="body">
             {% for cart_item in cart_items %}
            <tr>
                <td>
                    <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.img.url}}" alt="" style="width:100px;height:100px;" class="float-left rounded_custom_image"></a>
                </td>
                <td colspan="text-left">
                    {{cart_item.product.name}}
                    <br>
                    Id:{{cart_item.product.id}}
                    <br>
                    Rs.{{cart_item.product.price }}
                    <br>
                    Qty:{{cart_item.quantity}} x Rs.{{cart_item.product.name}}

                    <br><br>

                    Rs.{{cart_item.total}}
                </td>
                {% if cart_item.quantity < cart_item.product.stock %}
                <td>
                     <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"> <i class="fa fa-plus icon"></i></a>
                    &nbsp;&nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i class="fa fa-minus icon"></i></a>
                    &nbsp;&nbsp;<a href="{% url 'cart:full_remove' cart_item.product.id %}" class="icon"> <i class="fa fa-trash icon"></i></a>

                </td>
                {% else %}
                 <td>
                  &nbsp;  &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"> <i class="fa fa-minus icon"></i></a>
                    &nbsp; &nbsp;<a href="{% url 'cart:full_remove' full_item.product.id %}" class="icon"> <i class="fa fa-trash icon"></i></a>

                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>


        </table>

    </div><br><br><br><br>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
     <table class="table my_table">
            <thread>
                <tr>
                    <th>
                        Checkout
                    </th>
                </tr>
            </thread>
            <tbody>
               <tr>
                   <td>
                      Pleasr Review Your Shopping Cart items Before proceeding with the order payment.
                   </td>
               </tr>
            <tr>
                <td class="text-left">
                   Your Total is: <strong>{{total}}</strong>
                </td>
            </tr>
            </tbody>
     </table>
        <div class="mx-auto">
            <a href="{% url 'ecommerce_app:allprodcat' %}" class="btn btn-secondary btn-block my_button">Continue shopping</a>
</div>

{% endif %}

    </div>
</div>
</div>
        {% endblock %}